 <%= form_for(@assignment) do |f| %>
   <% if @assignment.errors.any? %>
  <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this Assignment from being saved:</h2>
    <ul>
      <% @assignment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
   <% end %>
    <br><br>
    <%= f.text_field :title %>
    <%= f.submit %>
    <% end %>
