<center>
<br>
<div class="links">
  <%= link_to "Create New Assignment", new_assignment_path %>
</div>
<h3>Incomplete Assignments</h3>
  <%= form_tag(completed_assignment_path, method: :put) do %>
    <% for assignment in @incomplete_assignments %>
      <ul>
        <%= check_box_tag 'assignment_ids[]', assignment.id %>
        <%= link_to assignment.name, user_assignment_path(current_user, assignment) %>
      </ul>
    <% end %>
    <%= submit_tag 'Mark as Completed' %>
  <% end %>
<br>
</center>
<center>
<h3>Completed Assignments</h3>
  <% for assignment in @complete_assignments %>
    <ul>
     <%= link_to assignment.name, assignment_path(assignment) %>
    </ul>
 <%# end %>
<% end %>
</center>


<h2> Curious to see <%= link_to "Current Stats", completed_most_path(@user) %> ?</h2>
