<div class="links">
  <%= link_to "Create New Assignment", new_assignment_path %> 
</div>

<h2>Incomplete Assignments</h2>
  <%= form_tag(completed_assignment_path, method: :put)  do %>
  <% for assignment in @incomplete_assignment %>
    <ul>
      <%= check_box_tag 'assignment_id[]', assignment.id %>
      <%= link_to assignment.name, assignment_path(assignment) %>
    </ul>
  <% end %>
  <%= submit_tag 'Mark as Completed' %>
<% end %>

<h2>Completed Assignments</h2>
  <% for assignment in @complete_assignment %>
    <ul>
     <%= link_to assignment.name, assignment_path(assignment) %>
    </ul>
 <% end %>
