<div class="links">
  <%= link_to "Create New Assignment", new_assignment_path %>
</div>

<% if user_signed_in? %>
  <h2>
    <ul>Welcome, <%= current_user.email if !current_user.nil? %></ul>
  </h2>
  <% end %>
<h3>Incomplete Assignments</h3>
  <%= form_tag(completed_assignment_path, method: :put)  do %>
  <% for assignment in @incomplete_assignment %>
    <ul>
      <%= check_box_tag 'assignment_id[]', assignment.id %>
      <%= link_to assignment.name, assignment_path(assignment) %>
    </ul>
  <% end %>
  <%= submit_tag 'Mark as Completed' %>
<% end %>

<h3>Completed Assignments</h3>
  <% for assignment in @complete_assignment %>
    <ul>
     <%= link_to assignment.name, assignment_path(assignment) %>
    </ul>
 <% end %>
