<p><%= notice %></p>
<u><h2><%= @assignment.title %></h2></u>

<div class="tasks_wrapper">
  <%= render @assignment.tasks %>
<div class="form">
		<%= render "tasks/form" %>
	</div>
</div>

<div class="links">
<%= link_to 'Delete Assignment', assignment_task_path(@assignment), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<%= link_to 'Back', assignments_path(@assignment) %>
<br>
<%= link_to 'Edit', edit_assignment_path(@assignment) %>
</div>
