<% if task.completed? %>
  <%= link_to "Mark as Complete", complete_assignment_task_path(@assignment, task.id), method: :patch %>
	<p><strike><%= task.description %></strike></p>
  <br><br>
	<%= link_to "Delete Task", assignment_task_path(@assignment, task.id), method: :delete, data: { confirm: "Are you sure?" } %>
	<% else %>
	<%= link_to "Mark as Complete", complete_assignment_task_path(@assignment, task.id), method: :patch %>
	<p><%= task.description %></p>
	<%= link_to "Delete", assignment_task_path(@assignment, task.id), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
