<!DOCTYPE html>
<html>
  <head>
    <title>TeamWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
    <h4> Sign-in or Sign-up to start making Assignments </h4>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% end %>
	<%= yield %>
</div>

  </body>
</html>
